html
	font-size: 100%
	font-family: $font-face-copy
	background-color: $color-default
	color: $color-text-default
	overflow-y: scroll
	min-height: 100%
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
