_price($size = 1.5rem, $spacing = ($spacing-unit / 4))
	&__amount
		display: inline-flex
		align-items: baseline
		font-family: $font-face-impact
		font-size: $size

	&__int
		padding-left: $spacing
		font-size: $size + .2

	&__dec
		font-size: $size - .2
